
.language{
  color:white;
  float:right;
  cursor:pointer;
  margin-right:30px;
  margin-top:10px;
  font-weight:bold;
  font-size:30px;
  font-family: tahoma;
}

.header{
  color:white;
  float:center;
  margin-top:10px;
  margin-left:30px;
  font-weight:bold;
  font-size:30px;
  font-family: tahoma;
  margin-bottom:20px;
  text-align: center;
}


.contain{
  background-color:black;
  height:50px;
  
}

.containmain{
  background-color:#F79361;
  width:100%;
  
}
.center{
  margin: 0 auto;
  width:400px;
  padding-top:1%;
  padding-bottom:100%;
}

.profile{
  margin-top:30px;
  margin-left:150px;
  width:150px;
  height:150px;
  -webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
  background: url(../images/homepage.jpg) no-repeat;
  background-position:100% 20%;
  background-size:125%;
}


input {
     width:100%;
    outline: none;
    padding: 25px;
  border:none;
  
    
}

input[type=submit]{
  
  background: black;
  border:none;
  color:white;
  width:400px;
  font-size:15px;
  margin-bottom:20px;
}


input[type=submit]:hover{
  
color:grey;

}

.form{
  
  width:350px;
  margin: 0 auto;
  margin-top:20px;
}

.topform{
  border-bottom:2px solid lightgrey;
  margin:0px;
  background-repeat: no-repeat;
  background-color:white;
  background-size: 7%;
  background-position: 50% 50%;
}




.bottomform{
  margin-top:0px;
  margin-bottom:20px;
  background-repeat: no-repeat;
  background-color:white;
  background-size: 11%;
  background-position: 50% 50%;
}